.oneall_sharing_icons_floating {
    background-color: #eee;
    position: fixed;
	top: 20%;
	z-index: 99999;
	padding: 5px;
	margin: 0 auto;
}

.oneall_sharing_icons_floating.oneall_sharing_icons_floating_left {
    left: 0;
	border-radius: 0 3px 3px 0;
}

.oneall_sharing_icons_floating.oneall_sharing_icons_floating_right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.oneall_sharing_icons_floating .oas_btn_counter{
	width: 100%;
}

.oneall_sharing_icons_floating .oas_btn_counter .oas_btn_brd{
	text-align:center;
}

.oneall_sharing_icons_floating .oas_btn_counter .oas_btn_brd .oas_btn_txt{
	padding:0 !important;
}

.oneall_sharing_icons_floating .oas_btn_counter .oas_btn_counter_text{
	display:none;
}

.oneall_sharing_icons_floating .oas_btn {
   	float: left;
    clear: both;
}

.oneall_sharing_icons{
	overflow:hidden;
}

.oneall_sharing_icons_sidebar{
	margin-top:10px !important;
	margin-bottom:10px !important;
	text-align:center;
}

.oneall_sharing_icons_sidebar .oas_box {
	display: inline-block !important;	
}